@import-normalize;


$primary-black: #101010;
$primary-white: #FFF;
$section-background: #eff5f3;
$muted-gray: #808080;
$navigation-arrows-background: #EEEEEECF;

$rounded-button-background: #e22278;
$rounded-button-background-hover: #ea0069;

@mixin section-title-styles {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
    color: $primary-black;
    text-transform: uppercase;
}

@mixin navigation-arrows-styles {
    border: none;
    padding: 0px;
    margin: 0px;
    background-image: url(./arrow.svg);
    background-repeat: no-repeat;
    background-color: $navigation-arrows-background;
    height: 4.2rem;
    width: 4.5rem;
    background-position: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.ubiheader {
    background: $primary-black;
    color: $primary-white;

    .ubinav {

        .ubinav__list {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            padding: 1rem 0rem;
            margin: 0px;
            justify-content: center;

            .ubinav__listitem {
                text-transform: uppercase;
                margin: .5rem 2rem;
                border-bottom: 4px solid $primary-black;

                &:hover {
                    cursor: pointer;
                    border-bottom: 4px solid $primary-white;
                }
            }
        }
    }
}

.section-title {
    @include section-title-styles;
}

.section-title__featured {
    @include section-title-styles;
}


// More Games section start
.more-games {
    background-color: $section-background;
    padding: 3rem 0rem;

    .more-games__grid {
        padding: 0rem 8rem;
        display: grid;
        grid-column-gap: 3.5rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        .game-poster {
            height: 310px;
            width: 100%;
        }

        .game-title {
            font-size: 2.2rem;
            font-weight: 600;
        }

        .systems-container {
            margin-bottom: 1.5rem;
        }

        .game-year {
            font-size: 1.5rem;
            color: $muted-gray;
        }

        .system {
            margin-right: .3rem;
        }

        .system__stadia {
            width: 2rem;
            max-width: 2rem;
            height: 2rem;
            max-height: 2rem;
        }
    }

}

// More Games section ends

// Featured Videos Styles start

.featured-videos {
    background-color: $section-background;
    padding: 3rem 2rem;

    .featured-videos__grid {
        padding: 0rem 2rem;
        display: grid;
        grid-column-gap: 7.5rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

        .video-wrapper {
            position: relative;
            cursor: pointer;

            .video-poster {
                height: 245px;
                width: 100%;
            }

            .video-title {
                font-size: 2.2rem;
                font-weight: 700;
            }

            .video-play-icon {
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

    }
}

// Featured Videos Styles end

// Slide show navigation styles start

.slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    @include navigation-arrows-styles;
}

.arrow--right {
    @include navigation-arrows-styles;
    transform: rotate(180deg);
}

// Slide show navigation styles end

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    .btn-rounded {
        font-size: 1.6rem;
        font-weight: 700;
        background-color: $rounded-button-background;
        color: $primary-white;
        text-transform: uppercase;
        padding: 2rem 6rem;
        width: auto;
        border: 1px solid $rounded-button-background;
        border-radius: 3rem;
        cursor: pointer;

        &:hover {
            background-color: $rounded-button-background-hover;
        }
    }
}

// Modal styles start

.modal {
    position: fixed;
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.92);
    /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content-wrapper {
        margin: 0rem 1rem;

        .btn-close {
            width: 40px;
            height: 40px;
            font-size: 2rem;
            float: right;
            background-color: $primary-black;
            border: .2rem solid $primary-white;
            color: $primary-white;
            border-radius: 2.5rem;
            padding: .5rem 0.5rem;
            cursor: pointer;
            transition: background-color .1s linear;

            &:hover {
                background-color: rgb(74, 74, 74)
            }
        }

        .btn-play {
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 4.5rem;
            max-width: 4.5rem;
            height: 4.5rem;
            max-height: 4.5rem;
            z-index: 3;
        }

        @media only screen and (min-width: 600px) {
            .btn-play {
                width: 6.5rem;
                max-width: 6.5rem;
                height: 6.5rem;
                max-height: 6.5rem;
            }
        }

        .modal-content-title {
            margin-bottom: 1rem;
            color: $primary-white;
        }

        .modal-content-poster {
            position: relative;
            width: 100%;
        }
    }

}

// Modal styles end