@import-normalize;



.ubiheader {
    background: #000;
    color: #FFF;

    .ubinav {

        .ubinav__list {
            list-style: none;
            padding: 1.5rem 0rem;
            margin: 0px;
            justify-content: center;

            .ubinav__listitem {
                text-transform: uppercase;
                margin-right: 3.5rem;
            }
        }
    }
}


// More Games section
.more-games {

    padding: 3rem 2rem;


    .more-games__grid {
        padding: 0rem 2rem;
        display: grid;
        grid-column-gap: 3.5rem;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        .game-poster {
            height: 310px;
            width: 100%;
        }

        .game-title {
            font-size: 2rem;
            font-weight: 600;
        }

        .systems-container {
            margin-bottom: 1.5rem;
        }

        .game-year {
            font-size: 1.2rem;
            color: gray;
        }

        .system {
            margin-right: 3px;
        }

        .system__stadia {
            width: 15px;
            max-width: 15px;
            height: 15px;
            max-height: 15px;
        }
    }

}

.featured-videos {
    padding: 3rem 2rem;

    .featured-videos__grid {
        padding: 0rem 2rem;
        display: grid;
        grid-column-gap: 75px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

        .video-wrapper {
            position: relative;
            cursor: pointer;

            .video-poster {
                height: 245px;
                width: 100%;
            }

            .video-title {
                font-size: 1.6rem;
                font-weight: 600;
            }

            .video-play-icon {
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }


    }
}

.arrow {
    background-image: url(./arrow.svg);
    background-repeat: no-repeat, repeat;
    height: 2.2rem;
    width: 1.4rem;
    cursor: pointer;
}

.arrow--right {
    background-image: url(./arrow.svg);
    background-repeat: no-repeat, repeat;
    height: 2.2rem;
    width: 1.4rem;
    transform: rotate(180deg);
    cursor: pointer;
}

.slider-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.5rem;
    color: #000;
    text-transform: uppercase;
}

.section-title__featured {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 4rem;
    color: #000;
    text-transform: uppercase;
}


.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

    .btn-rounded {
        font-size: 1.6rem;
        background-color: #ff5d5d;
        color: #FFF;
        text-transform: uppercase;
        padding: 1rem 4rem, ;
        width: auto;
        border: 1px solid #ff5d5d;
        border-radius: 2rem;
        cursor: pointer;
    }
}

.modal {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.771);
    /* Black w/ opacity */
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content-wrapper {


        .btn-close {
            position: absolute;
            left: 94%;
        }

        .btn-play {
            position: absolute;
            color: red;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .modal-content-title {
            margin-bottom: 1rem;
            color: #FFF;

        }
    }


}