@import-normalize;

$primary-black: #101010;
$primary-white: #FFF;
$section-background: #eff5f3;
$muted-gray: #808080;
$navigation-arrows-background: #eaf0ee;
$navigation-arrows-color: #e2e1e7;
$rounded-button-background: #e22278;
$rounded-button-background-hover: #ea0069;

@mixin section-title-styles {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
    color: $primary-black;
    text-transform: uppercase;
}

@mixin navigation-arrows-styles {
    border: none;
    padding: 0px;
    margin: 0px;
    width: 35px;
    height: 30px;
    cursor: pointer;
}

@mixin navigation-arrows-container-styles {
    border: none;
    color: $navigation-arrows-color;
    background: $navigation-arrows-background;
    width: 5.5rem;
    height: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}


.ubiheader {
    background: $primary-black;
    color: $primary-white;
    cursor: pointer;

    .ubinav {

        .hamburger-menu-icon {
            display: block;
            width: 3rem;
            height: 3rem;
            position: relative;
            top: 1.2rem;
            left: 1.5rem;
        }

        @media only screen and (min-width: 415px) {
            .hamburger-menu-icon {
                display: none;
            }
        }

        .ubinav__list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            list-style: none;
            font-size: 1.5rem;
            padding: 1rem 0rem;
            margin: 0px;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            .ubinav__listitem {
                display: none;
                text-transform: uppercase;
                margin: .5rem 2rem;
                border-bottom: 4px solid $primary-black;

                &:hover {
                    cursor: pointer;
                    border-bottom: 4px solid $primary-white;
                }
            }

            @media only screen and (min-width: 415px) {
                .ubinav__listitem {
                    display: block;
                }
            }
        }
    }
}

.section-title {
    @include section-title-styles;
}

.section-title__featured {
    @include section-title-styles;
}


// More Games section start
.more-games {
    background-color: $section-background;
    padding: 3rem 0rem;

    .more-games__grid {
        padding: 0rem 8rem;
        display: grid;
        grid-column-gap: 3.5rem;
        grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));

        .game-poster {
            height: 310px;
            width: 100%;
        }

        .game-title {
            font-size: 2.2rem;
            font-weight: 600;
        }

        .systems-container {
            margin-bottom: 1.5rem;
        }

        .game-year {
            font-size: 1.5rem;
            color: $muted-gray;
        }

        .system {
            margin-right: .3rem;
        }

        .system__stadia {
            width: 2rem;
            max-width: 2rem;
            height: 2rem;
            max-height: 2rem;
        }
    }

}

// More Games section ends

// Featured Videos Styles start

.featured-videos {
    background-color: $section-background;
    padding: 3rem 2rem;

    .featured-videos__grid {
        padding: 0rem 2rem;
        display: grid;
        grid-column-gap: 7.5rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

        .video-wrapper {
            position: relative;
            cursor: pointer;

            .video-poster {
                height: 245px;
                width: 100%;
            }

            .video-title {
                font-size: 2.2rem;
                font-weight: 700;
            }

            .video-play-icon {
                position: absolute;
                top: 40%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
    }
}

// Featured Videos Styles end

// Slide show navigation styles start

.slider-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.arrow-container {
    @include navigation-arrows-container-styles;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.arrow-container__right {
    @include navigation-arrows-container-styles;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.arrow {
    @include navigation-arrows-styles;
}


// Slide show navigation styles end

.btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2rem;

    .btn-rounded {
        font-size: 1.6rem;
        font-weight: 700;
        background-color: $rounded-button-background;
        color: $primary-white;
        text-transform: uppercase;
        padding: 2rem 6rem;
        width: auto;
        border: 1px solid $rounded-button-background;
        border-radius: 3rem;
        cursor: pointer;

        &:hover {
            background-color: $rounded-button-background-hover;
        }
    }
}

// Modal styles start

.modal {
    position: fixed;
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.92);
    /* Black w/ opacity */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .modal-content-wrapper {
        margin: 0rem 1rem;

        .btn-close {
            width: 40px;
            height: 40px;
            font-size: 2rem;
            float: right;
            background-color: $primary-black;
            border: .2rem solid $primary-white;
            color: $primary-white;
            border-radius: 2.5rem;
            padding: .5rem 0.5rem;
            cursor: pointer;
            -webkit-transition: background-color .1s linear;
            transition: background-color .1s linear;

            &:hover {
                background-color: $primary-white;
                color: $primary-black;
                border: .2rem solid $primary-black;
            }
        }

        .btn-play {
            position: absolute;
            top: 55%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 4.5rem;
            max-width: 4.5rem;
            height: 4.5rem;
            max-height: 4.5rem;
            z-index: 3;
        }

        @media only screen and (min-width: 600px) {
            .btn-play {
                width: 6.5rem;
                max-width: 6.5rem;
                height: 6.5rem;
                max-height: 6.5rem;
            }
        }

        .modal-content-title {
            margin-bottom: 1rem;
            color: $primary-white;
        }

        .modal-content-poster {
            position: relative;
            width: 100%;
        }
    }

}

// Modal styles end

// Mobile menu styles start

.mobile-menu {
    background: $primary-black;
    color: $primary-white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 8.5rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 100vh;
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

    ul {
        padding: 0rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    li {
        text-transform: uppercase;
        list-style: none;
        font-size: 1.8rem;
        margin-bottom: 6rem;
    }

    &.active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .btn-close-mobile-menu {
        position: absolute;
        left: 83%;
        color: $primary-white;
        border: 2px solid $primary-white;
        background-color: $primary-black;
        font-size: 1.8rem;
        border-radius: 2.5rem;
        width: 4rem;
        height: 4rem;
        top: 3%;
    }
}

// Mobile menu styles end